# This file is an example of how to add Conceal Desktop in Applications list.
# Edit this file and copy it to ~/.local/share/applications
# Once copied you will be able to find Conceal Desktop in Applications list.
# If you are not able to find Conceal Desktop check that Exec and Icon are correct.

[Desktop Entry]
Encoding=UTF-8
Name=Conceal Desktop
Comment=Conceal Desktop
# Change the Exec value to match conceal-desktop path
# example : Exec=/home/conceal/apps/conceal/conceal-desktop
Exec=<change-this-value>
Terminal=false
Type=Application
# Change the Icon value to match conceal icon path
# example : Icon=/home/conceal/apps/conceal/icon/conceal.png
Icon=icon/conceal.png
MimeType=x-scheme-handler/concealwallet;
Categories=Office;Finance;Cryptocurrency;