[Desktop Entry]
Encoding=UTF-8
Name=Conceal Desktop
Comment=Conceal Desktop
Exec=CONCEAL-GUI
Terminal=false
Type=Application
Icon=conceal.png
MimeType=x-scheme-handler/concealwallet;
Categories=Office;Finance;Cryptocurrency;
